%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "BU Finance & Investment Club"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    %nav.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand
            %a{:href => "/home", :id => "navbar-link"}="BU Finance & Investment Club"
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/about", :id => "navbar-link"} Who We Are
            %li
              %a{:href => "/fund", :id => "navbar-link"} What We Do
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "/resources", :role => "button", :id => "navbar-link"}
                  Student Resources
                %ul.dropdown-menu
                  %li
                    %a{:href => "/resources#investment-management", :id => "navbar-link"} Investment Management
                  %li
                    %a{:href => "/resources#investment-research", :id => "navbar-link"} Investment Research
                  %li
                    %a{:href => "/resources#financial-analysis", :id => "navbar-link"} Financial Analysis

    .jumbotron
      .header-container
        %div.col-md-6.col-xs-12
          %div.bufclogo
        %div.col-md-6.col-xs-12.text-center
          .row
            .tagline= "Aim for Excellence. Expand your Horizons. Launch your Career."
          .row
            .provide="We provide a hands-on, practical learning platform for all BU students interested in accelerating their understanding of finance, by running a student-managed investment fund and research team."

    .container
      .row.text-center.arrow
        %i.fa.fa-arrow-down.fa-2x{"aria-hidden" => "true"}

    .container
      .row.text-center
        %h3="Upcoming Events"
        %br
      .row.text-center.events
        %div.col-md-6.event-wrapper
          %div.event-header="Your Future In Finance (YFIF) 2016"
          %div.event-content="Our annual Your Future in Finance conference will take place on September 24th in the Questrom School of Business. Please save the date and join us for a day of speaker panels, networking, and career development events with Boston University's most accomplished and ambitious students. Registration details to come."

        %div.col-md-6.event-wrapper
          %div.event-header="Junior Analyst Registration"
          %span.event-content="Registration link:"
          %span.event-content
            %a{:href => "https://goo.gl/0Dj2c4"} https://goo.gl/0Dj2c4
          %div.event-content="Once you fill out the form, it will take a week or two for us to get back to you."

    .container
      .row.text-center.highlights
        %hr
        %div.col-md-4
          %i.fa.fa-bar-chart.fa-4x{"aria-hidden" => "true"}
          .row.icons
            %span= "Funding"
          .row.descs
            %span="We were thrilled to obtain $300,000 in funding in Q3 2015 from the endowment. Our Club's student investment fund has since seen an increase in AUM, climbing over $400,000. We seek to continue to grow the fund through both performance and generous alumni contributions."

        %div.col-md-4
          %i.fa.fa-folder-open.fa-4x{"aria-hidden" => "true"}
          .row.icons
            %span= "Portfolio"
          .row.descs
            %span="The fund intends to match the allocation of the Russell 2000 ex-Financials within 500 basis points. The fund targets a diversified portfolio of fifteen to thirty individual equities across these sectors with no maximum number of holdings. The small cap focus seeks to offer students the chance to uncover opportunities that are potentially being missed by the larger investment community."

        %div.col-md-4
          %i.fa.fa-group.fa-4x{"aria-hidden" => "true"}
          .row.icons
            %span= "Student Positions"
          .row.descs
            %span="Our club serves as an educational tool for students interested in Finance. We have positions ranging from Junior Analysts to Sector Heads to Investment Associates, and all the way up to the executive board. Sign ups typically occur at the start and end of each semester, with more senior positions requiring more experience in the organization."

    %section.newsletter
      .container
        .row.newsletter-row.text-center
          .col-md-12="Interested in joining BUFC? Send Us an Email!"
          / .col-md-4
          / %form#newsletter-signup-form
          /   .form-group
          /     %input.form-control{:name => "email", :id => "email", :type => "email", :placeholder => "Email"}
