%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "BU Finance & Investment Club"
    = stylesheet_link_tag    "application_new", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    %nav.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand
            %a{:href => "/home", :id => "navbar-link"}="BU Finance & Investment Club"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/about", :id => "navbar-link"} Who We Are
            %li
              %a{:href => "/fund", :id => "navbar-link"} What We Do
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "/resources", :role => "button", :id => "navbar-link"}
                  Student Resources
                %ul.dropdown-menu
                  %li
                    %a{:href => "#investment-management", :id => "navbar-link"} Investment Management
                  %li
                    %a{:href => "#investment-research", :id => "navbar-link"} Investment Research
                  %li
                    %a{:href => "#financial-analysis", :id => "navbar-link"} Financial Analysis
                  %li
                    %a{:href => "#quant-finance", :id => "navbar-link"} Quant Finance
    %hr

    %section#investment-management
      .container
        .row
          %h3="Investment Management"
          %hr
        .row
          %div="Below is a list of resources that analysts can use for their own work"
        .row
          %table.table.table-striped
            %tbody
            - @resources.each do |resource|
              %tr
                %td
                  %a{:href => "#{resource[1]}"} #{resource[0]}

    %section#investment-research
      .container
        .row
          %h3="Investment Research"
          %hr
        .row
          %div="Below is a list of industry-focused stock pitches for each sector in Fall 2016."
          %br
          %h4
            %b="Fall 2016"
          %br
          %table.table.table-striped
            %thead
              %tr
                %th="Senior Analyst(s)"
                %th="Presentation (.pdf)"
            %tbody
              - @fall_presentations.each do |fpres|
                %tr
                  %td="#{fpres[0]}"
                  %td
                    %a{:href => "#{fpres[1]}"} Download

        .row
          %div="Below is a list of company-focused stock pitches for each sector in Spring 2017."
          %br
          %h4
            %b="Spring 2017"
          %br
          %table.table.table-striped
            %thead
              %tr
                %th="Senior Analyst(s)"
                %th="Presentation (.pdf)"
            %tbody
              - @spring_presentations.each do |spres|
                %tr
                  %td="#{spres[0]}"
                  %td
                    %a{:href => "#{spres[1]}"} Download

        .row
          %div
            %em="Disclaimer: All of the views expressed in these presentations reflect our members' personal views about the industry or company and its or their securities. The majority of our members are in their sophomore year whom have basic proficiency in industry analysis and valuation."

    %section#financial-analysis
      .container
        .row
          %h3="Financial Analysis"
          %hr
        .row
          %span="We're working on adding resources to this section. Have a suggestion? Email us at "
          %span
            %a{:href => "mailto:buinvest@bu.edu"} buinvest@bu.edu


    %section#quant-finance
      .container
        .row
          %h3="Quant Finance"
          %hr
        .row
          %div="Along with the workshops that are ran every Sunday at 2PM, below is a list of resources for people interested in Quant Finance."
        .row
          %table.table.table-striped
            %thead
              %tr
                %th="Resource"
                %th
            %tbody
              - @quant.each do |q|
                %tr
                  %td
                    %a{:href => "#{q[1]}"} #{q[0]}
                  %td
