%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "BU Finance & Investment Club"
    = stylesheet_link_tag    "application_new", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    %nav.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand
            %a{:href => "/home", :id => "navbar-link"}="BU Finance & Investment Club"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/about", :id => "navbar-link"} Who We Are
            %li
              %a{:href => "/fund", :id => "navbar-link"} What We Do
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "/resources", :role => "button", :id => "navbar-link"}
                  Student Resources
                %ul.dropdown-menu
                  %li
                    %a{:href => "#investment-management", :id => "navbar-link"} Investment Management
                  %li
                    %a{:href => "#investment-resources", :id => "navbar-link"} Investment Research
                  %li
                    %a{:href => "#financial-analysis", :id => "navbar-link"} Financial Analysis
    %hr

    %section#investment-management
      .container
        .row
          %h3="Investment Management"
          %hr
        .row
          %span="We're working on adding resources to this section. Have a suggestion? Email us at "
          %span
            %a{:href => "mailto:buinvest@bu.edu"} buinvest@bu.edu

    %section#investment-research
      .container
        .row
          %h3="Investment Research"
          %hr
        .row
          %div="This section contains a downloadable list of stock pitches/presentations for each sector starting in 2016."
          %br
          %h4
            %b="Spring 2016"
          %br
          %table.table.table-striped
            %thead
              %tr
                %th="Sector"
                %th="Senior Analyst(s)"
                %th="Presentation (.pdf)"
            %tbody
              %tr
                %td="Real Estate"
                %td="Ali Nawaz & Phil Barcelona"
                %td
                  %a{:href => "AliNawazPhilBarcelona.pdf"} Download
              %tr
                %td="Materials"
                %td="Anish Guha"
                %td
                  %a{:href => "AnishGuha.pdf"} Download
              %tr
                %td="Energy"
                %td="Brian Malone"
                %td
                  %a{:href => "BrianMalone.pdf"} Download
              %tr
                %td="Real Estate"
                %td="Chris Pratt"
                %td
                  %a{:href => "ChrisPratt.pdf"} Download
              %tr
                %td="TMT"
                %td="Cole Secor"
                %td
                  %a{:href => "ColeSecor.pdf"} Download
              %tr
                %td="Healthcare"
                %td="Denis Visnjic"
                %td
                  %a{:href => "DenisVisnjic.pdf"} Download
              %tr
                %td="Energy"
                %td="Jake Strzalkowski"
                %td
                  %a{:href => "JakeStrzalkowski.pdf"} Download
              %tr
                %td="Healthcare"
                %td="Justin Chiu"
                %td
                  %a{:href => "JustinChiu.pdf"} Download
              %tr
                %td="Consumer Goods"
                %td="Keshav Kakkar"
                %td
                  %a{:href => "KeshavKakkar.pdf"} Download
              %tr
                %td="Industrials"
                %td="Majid Mowlood"
                %td
                  %a{:href => "MajidMowlood.pdf"} Download
              %tr
                %td="Consumer Goods"
                %td="Matt Leung"
                %td
                  %a{:href => "MattLeung.pdf"} Download
              %tr
                %td="Energy"
                %td="Matt Postorino"
                %td
                  %a{:href => "MattPostorino.pdf"} Download
              %tr
                %td="Materials"
                %td="Santosh Morasa"
                %td
                  %a{:href => "SantoshMorasa.pdf"} Download
              %tr
                %td="TMT"
                %td="Urja Lakhani"
                %td
                  %a{:href => "UrjaLakhani.pdf"} Download

    %section#financial-analysis
      .container
        .row
          %h3="Financial Analysis"
          %hr
        .row
          %span="We're working on adding resources to this section. Have a suggestion? Email us at "
          %span
            %a{:href => "mailto:buinvest@bu.edu"} buinvest@bu.edu
