%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "BU Finance & Investment Club"
    = stylesheet_link_tag    "application_new", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    %nav.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand
            %a{:href => "/home", :id => "navbar-link"}="BU Finance & Investment Club"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/about", :id => "navbar-link"} Who We Are
            %li
              %a{:href => "/fund", :id => "navbar-link"} What We Do
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", :id => "navbar-link"}
                  Student Resources
                %ul.dropdown-menu
                  %li
                    %a{:href => "/resources#investment-management", :id => "navbar-link"} Investment Management
                  %li
                    %a{:href => "/resources#investment-research", :id => "navbar-link"} Investment Research
                  %li
                    %a{:href => "/resources#financial-analysis", :id => "navbar-link"} Financial Analysis
    %hr

    %section#allocation
      .container
        .row
          %h3="Sector Allocation"
          %hr
        .row
          %div="The Undergraduate Finance & Investment Club is organized into seven functional sectors: Consumer (both durable and discretionary), Energy, Healthcare, Industrials, Materials, Real Estate and TMT. As a small to mid-cap value fund, we intend to allocate our investments across these sectors, focusing on bottom-up fundamental analysis within each sector to provide top-tier security selection leading to an alpha generating proposal."
          %br
          %div="As a fund that derives its edge from deep research into individual securities rather than sector timing, the fund intends to match the allocation of the Russell 2000 ex-Financials within 500 basis points. The fund targets a diversified portfolio of fifteen to thirty individual equities across these sectors with no maximum number of holdings. No initial individual equity investment shall constitute more than 6% of the portfolio."

    %section#universe
      .container
        .row
          %h3="Investment Universe"
          %hr
        .row
          %div="The Fund only considers investments with the following characteristic(s):"
          %br
          %ol
            %li="A domestic, publicly-traded equity"
            %li="Market capitalization less than $5 billion (<$2 billion considered 'small-cap')"
            %li="In addition: all investments are subject to security, sector and cash rebalancing criteria"
        %br
        .row
          %div="Additionally, all investments are subject to the following voting criteria:"
          %br
          %ol
            %li="That the voting member has a firm understanding of the potential investment’s fundamentals and the dynamics of the industry to which they are exposed;"
            %li="That the recommendation provides an in-depth look at the risks the company will be subjected to over the life of the investment holding period;"
            %li="That the recommendation includes convincing evidence that the potential investment will outperform its peers and provide an alpha generating opportunity for the Fund;"
            %li="That there is clear reason and believability to the projections and valuation presented of the equity;"
            %li="That there is no reason to question the integrity of the potential investment’s management team;"
            %li="That the recommendation presents an advantageous risk / reward proposition for the portfolio in its ability to follow the guidelines outlined in the Investment Policy while also potentially generating alpha contra the Russell 2000 Small Cap Index"

    %section#ethics
      .container
        .row
          %h3="Code of Ethics"
          %hr
        .row
          %div="The Code of Ethics drafted by the Boston University Undergraduate Finance & Investment Club (“the Club”) reflects the ambitions of the Club towards becoming a professional and successful Fund for Boston University’s endowment. As the premier vehicle for aspiring students in the finance industry, the Club is set to not only focus on developmental curriculum, but also provide practical existential application of these skills through an actively-run student managed investment fund (“the Fund”)."
          %br
          %div="The Club has been student-run since its founding in the 1990s with a fixation that high ethical standards is not only reflective in Boston University’s classroom, but also critical to maintaining trust in the investments industry. Holding to these standards is essential to the Club’s mission in providing itself as a model to successful application and running of a student managed investment Fund in a post-secondary educational institution.These standards are applicable to all stakeholders within the Club, including members of any ranking or involvement, alumni along with the operations of the faculty advisors. All stakeholders must abide by the code herein as violations may result in disciplinary sanctions."
          %br
          %div
            %a{:href => "EthicsStatement91115.pdf"}="Download Our Ethics Policy Statement"

    %section
      .container
        .row
          %h3="Student Managed Investment Fund"
          %hr
        .row
          %div="The Club is always searching for new sources of capital as well as ways to expand as we continue our success on Boston University's campus. We hold the long-term goal of becoming the premier student-run investment fund and intend to grow our asset base above $1mm."
          %br
          %div="There are more than 314 accredited Universities worldwide who have turned towards using student managed investment funds as a way to supplement traditional investment courses through providing a practical experience to interested students. Please download our most recent SMIF presentation for further information as well as appropriately cited sources."
          %br
          %div
            %a{:href => "BUFCSecuritySelectionProcess.pdf"}="Read More About Our Security Selection Process"
