%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "BU Finance & Investment Club"
    = stylesheet_link_tag    "application_new", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    %nav.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand
            %a{:href => "/home", :id => "navbar-link"}="BU Finance & Investment Club"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/about", :id => "navbar-link"} Who We Are
            %li
              %a{:href => "/fund", :id => "navbar-link"} What We Do
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", :id => "navbar-link"}
                  Student Resources
                %ul.dropdown-menu
                  %li
                    %a{:href => "/resources#investment-management", :id => "navbar-link"} Investment Management
                  %li
                    %a{:href => "/resources#investment-research", :id => "navbar-link"} Investment Research
                  %li
                    %a{:href => "/resources#financial-analysis", :id => "navbar-link"} Financial Analysis
                  %li
                    %a{:href => "/resources#quant-finance", :id => "navbar-link"} Quant Finance
    %hr

    %section#letter-from-president
      .container
        .row
          %h3="Letter from the President"
          %hr
        .row
          %div="Welcome to our website, and thank you for taking an interest in the Boston University Finance and Investment Club. I am honored to be serving as President for the 2016-2017 academic year, and I couldn't be more proud of what our members have accomplished over the past 12 months. With the Fund's growth to over $400,000 AUM and another strong season of full-time & internship placement, we are poised for another big year here at BUFC. The club has prided itself on being an exceptional learning platform for students while also providing a financial community where alumni, students, and faculty can interact and forge relationships. It is my hope that this continues to improve during my time here and long after I have left BU. If you want to learn more about our organization, stop by one of our meetings, or reach out to anyone on our Executive Board; we'd be more than happy to help out. "
          %br
          %div="Sincerely,"
          %span="Michael Minarczyk"

    %section#overview
      .container
        .row
          %h3="Overview"
          %hr
        .row
          %div="Boston University Finance and Investment Club (“BUFC”) is an interactive, team-oriented experience focused on mentoring and guiding its members from their first year of college to their first year on the job. BUFC challenges its members to ask the right questions when analyzing an industry such as “how are these companies able to maintain a profit” or “what makes them successful.”"
          %br
          %div="Incoming Freshmen and seasoned Seniors from any major in Boston University are able to meaningfully contribute side-by-side to BUFC’s live fund through guided investment research and management. BUFC provides countless networking opportunities for its members to meet Boston University alumni from the recent graduates to the senior executives."
          %br
          %span="Events include The Annual Wall Street Trip, company site visits, speaker series, and the Your Future in Finance Conference. General Meetings are held at 6:00pm every Wednesday. For additional information, or to sign up on the mailing list, please contact"
          %span
            %a{:href => "mailto:buinvest@bu.edu"}= "buinvest@bu.edu"

    %section#leadership
      .container
        .row
          %h3="Leadership"
          %hr
        .row
          .col-md-3.text-center.eboard
            .thumbnail
              %img{:src => "assets/mike.jpg"}
            %div
              %strong="Mike Minarczyk"
            %span="President"
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/steph.jpg"}
            %div
              %strong="Stephanie Conyack"
            %span="VP, Corporate Relations"
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/andrew.jpg"}
            %div
              %strong="Andrew Keuler"
            %span="VP, Investment Management"
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/david.jpg"}
            %div
              %strong="David Elgawly"
            %span="Chief Risk Officer"

        .row
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/majid.jpg"}
            %div
              %strong="Majid Mowlood"
            %span="Chief Risk Analyst"
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/saania.jpg"}
            %div
              %strong="Saania Malik"
            %span="VP, Investment Research"
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/matt.png"}
            %div
              %strong="Matt Leung"
            %span="VP, Investment Research"
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/jake.jpg"}
            %div
              %strong="Jake Strzalkowski"
            %span="VP, Operations"
        .row
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/freddie.jpg"}
            %div
              %strong="Freddie Vargus"
            %span="VP, Quant Strategy"

    %section#advisors
      .container
        .row
          %h3="Advisors"
          %hr
        .row
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/segal.jpg"}
            %div
              %strong="Steven Segal"
            %span="Faculty Advisor"
          .col-md-9
            %div="Steven Segal is an Executive-in-Residence/Lecturer at Boston University’s School of Management where he developed, and now teaches, a graduate level course in private equity and leverage buyouts. Mr. Segal is also a Special Limited Partner of J.W. Childs Associates, where he helps guide the strategic direction of several of the firm’s portfolio companies through his role as a director, and also co-invests with the firm, which he co-founded in 1995. Mr. Segal brings 20 years of private equity investment experience and applied finance to the club."
        .row
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/williams.jpg"}
            %div
              %strong="Mark Williams"
            %span="Technical Advisor"
          .col-md-9
            %div="Mark has been on the Finance & Economics Faculty at BU since 2002 and currently serves as Executive-in-Residence / Master Lecturer of Finance. Prior to teaching he worked as a senior trading floor executive, a bank trust officer and a bank examiner to the Federal Reserve. He is an expert in the field of risk management and serves as a crucial resource for the Club in targeting effective portfolio risk management."
        .row
          .col-md-3.text-center.eboard
            .thumbnail
              %a
                %img{:src => "assets/spieler.jpg"}
            %div
              %strong="David Spieler"
            %span="Technical Advisor"
          .col-md-9
            %div="David is a former Managing Director for Duff & Phelps in the Valuation Advisory services practice and former partner at PricewaterhouseCoopers. He currently teaches a wide-range of both undergraduate and graduate level finance courses at the School of Management. He serves as an advisor to business valuation; particularly in the technology, info-comm and entertainment industries."
